{{ define "home" }}
<html>
	<head>
		<title>Home</title>
		<link type="text/css" rel="stylesheet" href="/assets/css/style.css">
	</head>
	<body>
		<p>body</p>
		<script src="/assets/js/livereload.js?host=localhost"></script>
	</body>
</html>
{{ end }}